html {
  scroll-behavior: smooth;
  margin-bottom: 50px;
}

.graph {
  max-width: 100vw;
  height: 100vh;
}

#mapid {
  height: 600px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.fa-spinner {
  font-size: 50vmin;
  transform: translateY(-50%);
  color: coral;
}

.method-item {
  cursor: pointer;
}

.N-ints {
  width: 4rem !important;
}

#flow-entry-container {
  width: 100%;
}

#group-entry-container {
  width: 100%;
}

#flow-entry td {
  max-width: 10%;
  word-break: break-word;
}

#group-entry td {
  max-width: 10%;
  word-break: break-word;
}
