<!DOCTYPE html>
<html>
  <head>
    <title>Deploy Model</title>
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
      integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
      crossorigin=""
    />
    <script
      src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
      integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
      crossorigin=""
    ></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
      <a class="navbar-brand text-light" href="#">Deploy Model</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item mx-1 active">
            <a class="navbar-link text-light" href="/flowtable">Flow Table</a>
          </li>
          <li class="nav-item mx-1">
            <a class="navbar-link text-light" href="/newentry">New Entry</a>
          </li>
          <li class="nav-item mx-1">
            <a class="navbar-link text-light" href="/newgroupentry">New Group Entry</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <div style="margin: 20px">
        <div class="form-group row">
          <label for="iter-times" class="col-sm-2 col-form-label">Iteration</label>
          <div class="col-sm-10">
            <input type="number" min="0" class="form-control" id="iter-times" placeholder="100" />
          </div>
        </div>
        <div class="form-group row">
          <label for="start-node" class="col-sm-2 col-form-label">Origin Node</label>
          <div class="col-sm-10">
            <input type="number" min="0" class="form-control" id="start-node" placeholder="0" />
          </div>
        </div>
        <div class="form-group row">
          <label for="dest-node" class="col-sm-2 col-form-label">Destination Node</label>
          <div class="col-sm-10">
            <input type="number" min="0" class="form-control" id="dest-node" placeholder="1" />
          </div>
        </div>

        <div class="form-group row">
          <label for="int-N" class="col-sm-2 col-form-label">Number of Users</label>
          <div class="col-sm-10">
            <input type="number" min="1" class="form-control" id="int-N" value="1" />
          </div>
        </div>
        <div class="form-group row N-ints-block">
          <label class="col-sm-2 col-form-label">Traffic Levels</label>
          <div class="col-sm-10">
            <div class="row">
              <div class="col-sm">
                <input type="number" min="0" class="form-control N-ints N-ints-1" />
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row N-ints-block">
          <label class="col-sm-2 col-form-label">Number of Path</label>
          <div class="col-sm-10">
            <div class="row">
              <div class="col-sm">
                <input type="number" min="0" class="form-control N-ints N-ints-two" />
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="NodeR" class="col-sm-2 col-form-label">SDN Router Nodes</label>
          <div class="col-sm-10">
            <input type="number" min="0" class="form-control" id="NodeR" />
          </div>
        </div>
        <div class="form-group row">
          <label for="NodeO" class="col-sm-2 col-form-label">Observer Nodes</label>
          <div class="col-sm-10">
            <input type="number" min="0" class="form-control" id="NodeO" />
          </div>
        </div>
        <div class="form-group row">
          <label for="NodeP" class="col-sm-2 col-form-label">Processor Nodes</label>
          <div class="col-sm-10">
            <input type="number" min="0" class="form-control" id="NodeP" />
          </div>
        </div>
        <div class="form-group row">
          <label for="NodeQ" class="col-sm-2 col-form-label">LAN Nodes</label>
          <div class="col-sm-10">
            <input type="number" min="0" class="form-control" id="NodeQ" />
          </div>
        </div>
        <div class="form-group row">
          <label for="NodeS" class="col-sm-2 col-form-label">Cloud SDN Router Nodes</label>
          <div class="col-sm-10">
            <input type="number" min="0" class="form-control" id="NodeS" />
          </div>
        </div>

        <div class="text-center">
          <button class="btn btn-dark" id="cal-path">Calculate Path</button>
          <a href="/flow" class="btn btn-outline-dark" id="cal-path">Show Flow</a>
        </div>
      </div>
      <hr />

      <div id="total-graph" class="mt-3 text-center"></div>

      <div class="text-dark d-flex justify-content-center text-center" id="path-text"></div>
      <div class="text-center" id="path-info-block"></div>
      <div id="graph" class="mt-3 text-center d-none"></div>
      <div id="mapid"></div>
    </div>
  </body>

  <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" data-auto-replace-svg="nest"></script>
  <script
    src="https://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"
  ></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.min.js"></script>

  <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"
  ></script>
  <script type="text/javascript" src="js/main.js"></script>
</html>
