<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flow Table</title>
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
      <a class="navbar-brand text-light" href="#">Deploy Model</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="navbar-link text-light" href="/flowtable">Flow Table</a>
            <a class="navbar-link text-light" href="/newentry">New Entry</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <div class="row mt-3">
        <div class="col-6">
          <button
            class="btn btn-dark btn-block"
            type="button"
            id="flow-entry-btn"
            data-toggle="collapse"
            data-target="#flow-entry-container"
            aria-expanded="false"
            aria-controls="flow-entry-container"
          >
            Flow Entry
          </button>
        </div>
        <div class="col-6">
          <button
            class="btn btn-dark btn-block"
            type="button"
            id="group-entry-bun"
            data-toggle="collapse"
            data-target="#group-entry-container"
            aria-expanded="false"
            aria-controls="group-entry-container"
          >
            Group Entry
          </button>
        </div>
      </div>
      <div class="row mt-3">
        <div class="collapse" id="flow-entry-container">
          <table
            class="table table-striped table-hover text-center"
            id="flow-entry"
          >
            <thead class="thead-dark text-center">
              <tr>
                <th>Switch Name</th>
                <th>Table ID</th>
                <th>Priority</th>
                <th>Match</th>
                <th>Actions</th>
                <th>Flags</th>
                <th>Hard Timeout</th>
                <th>Idle Timeout</th>
                <th>Cookie</th>
                <th>DELETE</th>
                <!-- <th>Byte Count</th>
                                <th>Package Count</th> -->
              </tr>
            </thead>
            <tbody id="flowEntryBody"></tbody>
          </table>
        </div>
      </div>
      <div class="row mt-3">
        <div class="collapse" id="group-entry-container">
          <table
            class="table table-striped table-hover text-center"
            id="group-entry"
          >
            <thead class="thead-dark text-center">
              <tr>
                <th>Switch ID</th>
                <th>Group ID</th>
                <th>Type</th>
                <th>Buckets</th>
                <th>狀態</th>
                <th>DELETE</th>
              </tr>
            </thead>
            <tbody id="groupEntryBody"></tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
  <script
    src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"
  ></script>
  <script type="text/javascript" src="js/table.js"></script>
</html>
